*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  background-color: #f4f4f4;
}

.search-input{
  border: 1px solid #ccc;
  background-color: transparent;
  padding: 10px;
  text-overflow: ellipsis;
  margin: 25px 50px;
  border-radius: 5px;
  width: 95%;
  font-size: 18px;
  font-weight: 500;
  font-family: sans-serif;
}

.table-wrapper{
  background-color: #f4f8f9;
}

.table {
  padding: 10px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th{
  cursor: pointer;
}